@import "helper";

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
  font-weight: 300;
}

body {
  min-height: 100%;

}

.trans {
  transition: 0.3s;
}

.navbar-language-dropdown {
  &::after {
    display: none;
  }

  &:focus, &:active, &:visited {
    border: 1px solid rgba(0, 0, 0, 0) !important;
    outline: 1px solid rgba(0, 0, 0, 0) !important;
  }
}

.slick-prev, .slick-next {
  display: none !important;
}

.home-slider .slick-list.draggable {
  padding: 0 3.75rem 0 0 !important;
}

.menu-site {
  @media (max-width: 767px) {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    background: #fff;
    top: 4rem;
    transform: translateX(-100%);
    transition: 0.3s;
    padding: 0;
    border-radius: 0 !important;
  }
}

.mobile-menu-block {
  padding-top: 2px;
  width: 2.5rem;
  height: 100%;
  @include flex('c', 'c');

  .fa-xmark {
    display: none;
  }

  .fa-bars {
    display: block;
  }

  &.active {
    .fa-xmark {
      display: block;
    }

    .fa-bars {
      display: none;
    }
  }
}

.shadow-def {
  box-shadow: 0 0 6px #6e6e6e;
}

.shadow-md {
  @media (min-width: $md) {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
  }
}

.shadow-sm-none {
  @media (min-width: $sm) {
    box-shadow: unset !important;
  }
}


.img-block {
  .slick-dots {
    width: 100%;
    @include flex('c', 'c');
    position: relative;
    top: -30px;
    list-style: none;

    li {
      @include flex('c', 'c');
    }

    button {
      font-size: 0;
      width: 10px;
      height: 10px;
      border: 0;
      margin: 0 10px;
      border-radius: 10px;
      opacity: 0.5;
    }

    .slick-active {
      button {
        opacity: 1;
      }
    }
  }
}


.solid {
  width: 100%;
  height: 1px;
  background: #000;
}

.uploading-image {
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 6px #6e6e6e;

    .remove-image {
      opacity: 1;
    }
  }

  .remove-image {
    width: 20px;
    height: 15px;
    @include flex('c', 'c');
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    border-radius: 0 0 0 5px;
    font-size: 0.75rem;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
  }
}

.solid-text {
  width: 100%;
  height: 1px;
  position: relative;
  background: #9d9d9d;
  margin: 30px 0;

  span {
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 5px;
  }

}


#my-post-tab {
  .tab-menu {
    border-right: 0;
    border-left: 0;

    &.active {
      border-top-color: #326dc7;
      border-top-width: 2px;
    }
  }
}


#myTabContent {
  .sub-menu {
    border: 0 !important;

    &.active {
      border-bottom: 2px solid #326dc7 !important;
      color: #326dc7;
    }
  }
}

.dashed-solid {
  width: 100%;
  border-top: 2px dashed #e1e1e1;
}

.mobile-footer {
  display: none;
  position: fixed;
  width: 80%;
  left: 50%;
  bottom: 2.25rem;
  background: #ffffff;
  border-radius: 50px;
  z-index: 1;
  transform: translateX(-50%);
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  @media (max-width: $md) {
    display: flex;
  }

  &-item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #3d3d3d;
    @include flex('c', 'c');
    color: #3d3d3d;

  }
}


.mobile-settings{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.3s;
  background: #f5f5f5;
  z-index: 1000000;
  &.active{
    transform: translateX(0);
  }
  &-header{
    width: 100%;
    height: 60px;
    background: #fff;
    text-align: center;
    @include flex('c', 'c');
    position: relative;
    font-size: 1.25rem;
    .fa-xmark{
      position: absolute;
      left: 1.25rem;
    }
  }
  &-language{
    width: 100%;
    padding: 1.625rem 2.25rem;
    background: #fff;
    border-radius: 5px;
    margin-top: 15px;
    @include flex('sb', 'c');
    &-item{
      text-align: center;
      img{
        width: 50px;
        height: 50px;
      }
    }
  }
}



.h-60 {
  height: 3.75rem
}

.top-0 {
  top: 0
}

.z-100 {
  z-index: 100
}

.bgc-white {
  background-color: #fff
}

.c-black {
  color: #212529
}
.fs-30 {
  font-size: 1.875rem
}
.c-blue {
  color: #326dc7
}
.w-200 {
  width: 12.5rem
}
.h-40 {
  height: 2.5rem
}
.br-30 {
  border-radius: 1.875rem
}
.bgc-grey {
  background-color: #dadada
}
.left-12 {
  left: 0.75rem
}
.top-12 {
  top: 0.75rem
}
.h-100 {
  height: 6.25rem
}
.ps-40 {
  padding-left: 2.5rem
}
.ms-30 {
  margin-left: 1.875rem
}
.ms-20 {
  margin-left: 1.25rem
}
.h-22 {
  height: 1.375rem
}
.fs-12 {
  font-size: 0.75rem
}
.w-30 {
  width: 1.875rem
}
.minw-60 {
  min-width: 3.75rem
}
.mt-100 {
  margin-top: 6.25rem
}
.br-10 {
  border-radius: 0.625rem
}
.h-150 {
  height: 9.375rem
}
.fs-18 {
  font-size: 1.125rem
}
.bgc-blue {
  background-color: #326dc7
}
.c-white {
  color: #fff
}
.fs-25 {
  font-size: 1.5625rem
}
.bgc-bodyGrey {
  background-color: #f6f6f6
}
.br-20 {
  border-radius: 1.25rem
}

.br-8 {
  border-radius: 0.5rem
}

.h-110 {
  height: 6.875rem
}

.br-6 {
  border-radius: 0.375rem
}
.w-150 {
  width: 9.375rem
}
.right-15 {
  right: 0.9375rem
}
.top-8 {
  top: 0.5rem
}
.br-50 {
  border-radius: 3.125rem
}
.bgc-yellow {
  background-color: #ffe
}
.pe-12 {
  padding-right: 0.75rem
}
.h-200 {
  height: 12.5rem
}
.mw-400 {
  max-width: 25rem
}
.c-darkGrey {
  color: #9d9d9d
}
.c-red {
  color: red
}
.mw-500 {
  max-width: 31.25rem
}


.right-6 {
  right: 0.375rem
}

.top-40 {
  top: 2.5rem
}

.fs-13 {
  font-size: 0.8125rem
}
.bgc-darkGrey {
  background-color: #9d9d9d
}
.roundRightTop-10 {
  border-top-right-radius: 0.625rem
}

.roundRightBottom-10 {
  border-bottom-right-radius: 0.625rem
}

.roundLeftBottom-10 {
  border-bottom-left-radius: 0.625rem
}
.fs-17 {
  font-size: 1.0625rem
}

.ps-20 {
  padding-left: 1.25rem
}

.pt-30 {
  padding-top: 1.875rem
}

.pb-30 {
  padding-bottom: 1.875rem
}
.fs-100 {
  font-size: 6.25rem
}
.roundLeftTop-20 {
  border-top-left-radius: 1.25rem
}
.roundRightTop-20 {
  border-top-right-radius: 1.25rem
}
.br-40 {
  border-radius: 2.5rem
}

.bgc-green {
  background-color: #68d25f
}

.fs-20 {
  font-size: 1.25rem
}

@media (min-width: 576px) {
  .w-sm-300 {
    width: 18.75rem
  }
}
@media (min-width: 1200px) {
  .w-xl-500 {
    width: 31.25rem
  }
}
@media (min-width: 768px) {
  .pe-md-0 {
    padding-right: 0
  }
}
@media (min-width: 768px) {
  .mt-md-0 {
    margin-top: 0
  }
}
@media (min-width: 768px) {
  .w-md-250 {
    width: 15.625rem
  }
}

@media (min-width: 576px) {
  .h-sm-80 {
    height: 5rem
  }
}
@media (min-width: 576px) {
  .pt-sm-0 {
    padding-top: 0
  }
}

@media (min-width: 576px) {
  .ps-sm-70 {
    padding-left: 4.375rem
  }
}

@media (min-width: 768px) {
  .c-md-blue {
    color: #326dc7
  }
}


@media (min-width: 768px) {
  .roundLeftTop-md-20 {
    border-top-left-radius: 1.25rem
  }
}

@media (min-width: 768px) {
  .roundRightTop-md-20 {
    border-top-right-radius: 1.25rem
  }
}

@media (min-width: 768px) {
  .mt-md-4 {
    margin-top: 0.25rem
  }
}

@media (min-width: 768px) {
  .p-md-3 {
    padding: 0.1875rem
  }
}

@media (min-width: 768px) {
  .fs-md-16 {
    font-size: 1rem
  }
}

@media (min-width: 768px) {
  .ps-md-4 {
    padding-left: 0.25rem
  }
}

