<nav class="w-100 h-60 shadow position-fixed top-0 lef-0 d-flex justify-content-between justify-content-md-center align-items-center z-100 bgc-white">
  <div class="container d-flex justify-content-between align-items-center pe-0">
    <a href="#" class="fs-2 fw-bold c-black d-none d-md-block">
      LOGO
    </a>
    <div class="d-block d-md-none mobile-menu-block">
      <i class="fa-regular fa-bars fs-30 c-blue"></i>
      <i class="fa-regular fa-xmark fs-30 c-blue"></i>
    </div>

    <div class="d-flex justify-content-between align-items-center">
      <label class="w-200 w-sm-300 w-xl-500 h-40 br-30 bgc-grey overflow-hidden position-relative">
        <i class="fa-regular fa-magnifying-glass left-12 top-12 position-absolute"></i>
        <input type="text" class="w-100 border-0 h-100 bgc-grey ps-40" placeholder="Search">
      </label>
      <a href="#" class="ms-30 c-black d-none d-md-block">My Account</a>
      <button class="btn btn-primary ms-30 br-30 px-5 d-none d-lg-block">Post an Ad</button>

      <div class="ms-20 d-none d-md-block">
        <div>
          <select class="form-select h-22 py-0 fs-12 br-30" name="country" id="nav_country">
            <option value="Brooklyn">Brooklyn</option>
            <option value="Brooklyn">Brooklyn1</option>
            <option value="Brooklyn">Brooklyn2</option>
            <option value="Brooklyn">Brooklyn3</option>
          </select>
        </div>
        <div>
          <select class="form-select h-22 py-0 fs-12 mt-1 br-30" name="nav_city" id="nav_city">
            <option value="Brooklyn">Chose</option>
            <option value="Chose1">Chose1</option>
            <option value="Chose2">Chose2</option>
            <option value="Chose3">Chose3</option>
          </select>
        </div>
      </div>

      <div class="dropdown d-none d-md-inline-block" style="transform: translateX(18px)">
        <button class="btn dropdown-toggle p-1 navbar-language-dropdown" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
          <img src="images/usa.png" alt="language flag" class="w-30 rounded-1">
        </button>
        <ul class="dropdown-menu minw-60">
          <li>
            <a class="dropdown-item" href="#">
              <img src="images/usa.png" alt="language flag" class="w-30 rounded-1">
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <img src="images/am.png" alt="language flag" class="w-30 rounded-1">
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <img src="images/ru.png" alt="language flag" class="w-30 rounded-1">
            </a>
          </li>
        </ul>
      </div>

    </div>
    <div class="fs-30 pe-2 pe-md-0 d-block d-md-none" id="nav-settings">
      <i class="fa-regular fa-gear"></i>
    </div>

  </div>
</nav>

<div class="mobile-settings">
  <div class="mobile-settings-header">
    <i class="fa-regular fa-xmark fs-30 c-blue close-settings"></i>
    Settings
  </div>

 <div class="p-2">
   <div class="mobile-settings-language">
      <div class="mobile-settings-language-item">
        <img src="images/usa.png" alt="lang" class="rounded-circle">
        <div>English</div>
      </div>
     <div class="mobile-settings-language-item">
       <img src="images/ru.png" alt="lang" class="rounded-circle">
       <div>Russian</div>
     </div>
     <div class="mobile-settings-language-item">
       <img src="images/am.png" alt="lang" class="rounded-circle">
       <div>Armenian</div>
     </div>
   </div>

   <div class="mobile-settings-menu bgc-white w-100 p-3 mt-4 rounded-2">
     <a href="#" class="c-black">
       <div class="border-bottom py-3 fs-3 fw-bold d-flex justify-content-between align-items-center">
         About Us
         <i class="fa-regular fa-chevron-right c-darkGrey"></i>
       </div>
     </a>
     <a href="#" class="c-black">
       <div class="border-bottom py-3 fs-3 fw-bold d-flex justify-content-between align-items-center">
         Terms of Service
         <i class="fa-regular fa-chevron-right c-darkGrey"></i>
       </div>
     </a>
     <a href="#" class="c-black">
       <div class="border-bottom py-3 fs-3 fw-bold d-flex justify-content-between align-items-center">
         Posting Rules
         <i class="fa-regular fa-chevron-right c-darkGrey"></i>
       </div>
     </a>
     <a href="#" class="c-blue">
       <div class="py-3 fs-3 fw-bold d-flex justify-content-between align-items-center">
         Logout
       </div>
     </a>
   </div>

   <div class="text-center mt-4 fs-2">
     LOGO
   </div>
   <div class="col-12 col-md-5 text-center text-md-start mt-3 mt-md-0">
     <a href="#">
       <img src="images/fb.svg" alt="icon">
     </a>
     <a href="#">
       <img src="images/insta.svg" alt="icon">
     </a>
     <a href="#">
       <img src="images/app-store.svg" alt="icon">
     </a>
     <a href="#">
       <img src="images/play-market.svg" alt="icon">
     </a>
   </div>
   <div class="text-center mt-3 fs-4">
     © 2023 Name
   </div>

 </div>

</div>