<nav class="w-100 h-60 shadow position-fixed top-0 lef-0 d-flex justify-content-center align-items-center z-100 bgc-white">
  <div class="container d-flex justify-content-between align-items-center">
    <a href="#" class="fs-2 fw-bold c-black">
      LOGO
    </a>

    <div class="d-flex justify-content-between align-items-center">
      <label class="w-500 h-40 br-30 bgc-grey overflow-hidden position-relative">
        <i class="fa-regular fa-magnifying-glass left-12 top-12 position-absolute"></i>
        <input type="text" class="w-100 border-0 h-100 bgc-grey ps-40" placeholder="Search">
      </label>
      <a href="#" class="ms-30 c-black">My Account</a>
      <button class="btn btn-primary ms-30 br-30 px-5">Post an Ad</button>

      <div class="ms-20">
        <div>
          <select class="form-select h-22 py-0 fs-12 br-30" name="country" id="nav_country">
            <option value="Brooklyn">Brooklyn</option>
            <option value="Brooklyn">Brooklyn1</option>
            <option value="Brooklyn">Brooklyn2</option>
            <option value="Brooklyn">Brooklyn3</option>
          </select>
        </div>
        <div>
          <select class="form-select h-22 py-0 fs-12 mt-1 br-30" name="nav_city" id="nav_city">
            <option value="Brooklyn">Chose</option>
            <option value="Chose1">Chose1</option>
            <option value="Chose2">Chose2</option>
            <option value="Chose3">Chose3</option>
          </select>
        </div>
      </div>

      <div class="dropdown ms-10 ">
        <button class="btn dropdown-toggle p-1 navbar-language-dropdown" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
          <img src="images/usa.png" alt="language flag" class="w-30 rounded-1">
        </button>
        <ul class="dropdown-menu minw-60">
          <li>
            <a class="dropdown-item" href="#">
              <img src="images/usa.png" alt="language flag" class="w-30 rounded-1">
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <img src="images/am.png" alt="language flag" class="w-30 rounded-1">
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <img src="images/ru.png" alt="language flag" class="w-30 rounded-1">
            </a>
          </li>
        </ul>
      </div>

    </div>

  </div>
</nav>